
.father{
	.bac{
		background-color: #c1272d;
	}
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 180rpx;
	overflow-y: scroll;
	overflow-x: hidden;
	.topbar{
		position: relative;
		color: #FFFFFF;
		font-size: 24rpx;
		padding: 0 22rpx;
		padding-top: 30rpx;
		background-color: #fbb03b;
		height: 280rpx;
		display: flex;
		justify-content: space-between;
		.twobanner{
			position: absolute;
			top: 62%;
			width: 700rpx;
			height: 300rpx;
			left: 49%;
			z-index: 200;
			border-radius: 16rpx;
			transform: translate(-50%,-50%);
		}
		.bar{
			text-align: center;
		}
		image{
			width: 27rpx;
			height: 11rpx;
			margin-left: 10rpx;
		}
	}
	.list{
		display: flex;
		background-color: #FFFFFF;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20rpx;
		padding-top: 64rpx;
		.item{
			margin-right: 70rpx;
			font-size: 28rpx;
			color: #666666;
			text-align: center;
			image{
				width: 100rpx;
				height: 100rpx;
			}
			margin-bottom: 47rpx;
		}
		.item:nth-child(4n+0){
			margin-right: 0;
		}
	}
	.content{
		background-color: #FFFFFF;
		padding: 0 30rpx;
		margin-bottom: 16rpx;
		.tegong{
			padding: 16rpx;
			width: 700rpx;
			box-sizing: border-box;
			border-radius: 16rpx;
			background-color: rgb(234,82,9);
			.title{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: #FFFFFF;
				font-size: 36rpx;
				margin-bottom: 16rpx;
				text:first-child{
					margin-right: 10rpx;
					display: inline-block;
					width: 70rpx;
					height: 3rpx;
					background-color: #FFFFFF;
				}
				text:last-child{
					margin-left: 10rpx;
					display: inline-block;
					width: 70rpx;
					height: 3rpx;
					background-color: #FFFFFF;
				}
			}
			.putao{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-around;
				.pt_item{
					width:325rpx;
					background-color: #FFFFFF;
					border-radius: 16rpx;
					display: flex;
					padding: 16rpx;
					box-sizing: border-box;
					margin-bottom: 16rpx;
					.pt_toast{
						margin-right: 16rpx;
						font-size: 24rpx;
						color: #9fa0a0;
						view:first-child{
							margin-bottom: 12rpx;
							font-size: 24rpx;
							color: #000000;
						}
						view:nth-child(2){
							text{
								font-size: 24rpx;
								color: #9fa0a0;
							}
							text:last-child{
								font-size: 30rpx;
								color: $color;
							}
						}
					}
					.pt_img{
						image{
							width: 120rpx;
							height:160rpx;
						}
					}
				}
				
			}
		}
	}
	.detail{
		padding: 0 30rpx;
		.detail_title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16rpx;
			image{
				width: 351rpx;
				height: 61rpx;
			}
			.more{
				image{
					width: 15rpx;
					height: 23rpx;
					margin-left: 10rpx;
				}
			}
		}
		.time{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16rpx;
			.time_item{
				padding: 16rpx;
				image{
					width: 148rpx;
					height: 83rpx;
				}
				text-align: center;
				view{
					font-size: 28rpx;
					color: #000000;
				}
				view:last-child{
					font-size: 21rpx;
					color: #666666;
				}
			}
		}
	}
		.shops{
			.shops_item{
				display: flex;
				background-color: #FFFFFF;
				border-radius: 16rpx;
				padding: 20rpx;
				margin-bottom: 20rpx;
				font-size: 24rpx;
				image{
					width: 410rpx;
					height: 200rpx;
					margin-right: 40rpx;
				}
				.item_detail{
					.item_title{
						margin-bottom: 62rpx;
					}
					.item_price{
						display: flex;
						justify-content: space-between;
						align-items: center;
						color: $color;
						view{
							text{
								color:$color;
								font-size: 30rpx;
							}
							text:first-child{
								font-size: 48rpx;
							}
							text:last-child{
								text-decoration: line-through;
								color: #9fa0a0;
							}
						}
						view:last-child{
							width: 140rpx;
							height: 45rpx;
							line-height: 45rpx;
							background-color: rgb(234,82,9);
							text-align: center;
							border-radius: 36rpx;
							color: #FFFFFF;
							font-size: 24rpx;
						}
					}
				}
			}
		}
}
