
.clock{
	display: flex;
	align-items: center;
	padding-left: 31rpx;
	font-size: 20rpx;
	margin-bottom: 10rpx;
	img{
		width: 32rpx;
		height: 32rpx;
		margin-right: 20rpx;
	}
}
.content{
	margin: 0 43rpx;
	padding-left: 43rpx;
	border-left: 1rpx solid grey;
	.detail{
		width: 636rpx;
		padding: 35rpx;
		padding-top: 0;
		background-color: #FFFFFF;
		border-radius: 16rpx;
		box-sizing: border-box;
		margin-bottom: 10rpx;
		.detail_t{
			font-size: 48rpx;
			border-bottom: 6rpx solid #f2f2f2;
			line-height: 100rpx;
			margin-bottom: 16rpx;
		}
		.detail_d{
			font-size: 26rpx;
		}
	}
}